@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$color-alpha: #b78846;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html,
body {
  background-color: #283747 !important;
  height: 100%;
  overflow: hidden;
  color: #fff;
  font-family: "Open Sans";
  font-size: 18px;
}

.App {
  width: 100%;
  height: 100vh;
}

.label {
  padding-top: 20px;
  color: #fff;
}

.generate-btn {
  width: 100%;
  min-width: fit-content;
}

.logo-row {
  width: 100%;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo-container {
  height: 80vh;
  position: relative;
}

.confirm-btn {
  margin-top: 55px;
  padding: 6px 10px;
  background-color: yellow !important;
  color: black !important;
  border: none !important;
  margin-left: 30px !important;
  height: 54px;

  &:hover {
    background-color: #dbd514 !important;
  }
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(#000, 0.5);
  max-width: 600px;
  padding: 5px;
  border: 2px solid $color-alpha;
  &:before,
  &:after {
    content: "•";
    position: absolute;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: $color-alpha;
    border: 2px solid $color-alpha;
    line-height: 12px;
    top: 5px;
    text-align: center;
  }
  &:before {
    left: 5px;
  }
  &:after {
    right: 5px;
  }
  .box-inner {
    position: relative;
    border: 2px solid $color-alpha;
    padding: 12px;
    &:before,
    &:after {
      content: "•";
      position: absolute;
      width: 14px;
      height: 14px;
      font-size: 14px;
      color: $color-alpha;
      border: 2px solid $color-alpha;
      line-height: 12px;
      bottom: -2px;
      text-align: center;
    }
    &:before {
      left: -2px;
    }
    &:after {
      right: -2px;
    }
  }
}

.main-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}


@media screen and (max-height: 600px) {
  .logo-container {
    height: 50%;
    width: 100%;
    position: relative;
    left: 130px;
    bottom: 230px;
  }
}

@media screen and (max-width: 992px) {
  .confirm-btn {
    margin-top: 88px !important;
  }
}

@media screen and (max-width: 768px) {
  .input-file {
    min-width: 196px !important;
  }

  .main-row {
    flex-direction: column !important;
  }

  .confirm-btn {
    margin-top: 0px !important;
    margin-left: 0px !important;
    min-width: 196px !important;
  }

  .generate-btn {
    margin-top: 18px !important;
    min-width: 196px !important;
  }
}
